@using Aljas_Consultation.Controllers

<h2>Missing Consultations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Teacher</th>
            <th>Period missing consultations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="pl-3">@item.Teacher</td>
                <td class="pl-3">@item.Period</td>
            </tr>
        }
    </tbody>
</table>