@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check Periods to find consultations and times</a>.</p>
</div>

<img src="/img/index.png" height=1000px alt="Consultation" /></a>